-- Seed Users (Password: password123)

-- A. MANAGER
INSERT INTO auth.users (id, instance_id, aud, role, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at)
VALUES (
  'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11', '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', 
  'admin@gmao.com', crypt('password123', gen_salt('bf')), NOW(),
  '{"provider":"email","providers":["email"]}', '{}', NOW(), NOW()
);

INSERT INTO auth.identities (id, user_id, identity_data, provider, last_sign_in_at, created_at, updated_at)
VALUES (gen_random_uuid(), 'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11', '{"sub":"a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11","email":"admin@gmao.com"}', 'email', NOW(), NOW(), NOW());

-- B. TECHNICIAN 1
INSERT INTO auth.users (id, instance_id, aud, role, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at)
VALUES (
  'b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a12', '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', 
  'tech1@gmao.com', crypt('password123', gen_salt('bf')), NOW(),
  '{"provider":"email","providers":["email"]}', '{}', NOW(), NOW()
);

INSERT INTO auth.identities (id, user_id, identity_data, provider, last_sign_in_at, created_at, updated_at)
VALUES (gen_random_uuid(), 'b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a12', '{"sub":"b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a12","email":"tech1@gmao.com"}', 'email', NOW(), NOW(), NOW());

-- C. TECHNICIAN 2
INSERT INTO auth.users (id, instance_id, aud, role, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at)
VALUES (
  'c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a13', '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', 
  'tech2@gmao.com', crypt('password123', gen_salt('bf')), NOW(),
  '{"provider":"email","providers":["email"]}', '{}', NOW(), NOW()
);

INSERT INTO auth.identities (id, user_id, identity_data, provider, last_sign_in_at, created_at, updated_at)
VALUES (gen_random_uuid(), 'c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a13', '{"sub":"c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a13","email":"tech2@gmao.com"}', 'email', NOW(), NOW(), NOW());

-- FINAL ROLE ADJUSTMENTS (Profiles table is created by migration trigger)
-- Wait a bit for trigger to finish? Trigger runs in same transaction.
UPDATE public.profiles SET role = 'manager' WHERE id = 'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11';
